arrow==1.2.1
aws-cfn-bootstrap==2.0
certifi==2021.10.8
charset-normalizer==2.0.7
docutils==0.14
idna==3.3
joke-generator==1.0.1
lockfile==0.11.0
parse==1.19.0
pystache==0.5.4
python-daemon==2.2.3
python-dateutil==2.8.2
requests==2.26.0
simplejson==3.2.0
six==1.16.0
typing-extensions==3.10.0.2
urllib3==1.26.7
